[
  {
    "type": "azure_search",
    "parameters": {
      "endpoint": "https://${AZURE_SEARCH_SERVICE}.search.windows.net",
      "authentication": {
        "type": "api_key",
        "key": "${AZURE_SEARCH_KEY}"
      },
      "index_name": "your-first-index",
      "semantic_configuration": "your-first-index-semantic-configuration",
      "query_type": "vector_semantic_hybrid",
      "fields_mapping": {
        "content_fields_separator": "\n",
        "content_fields": ["chunk"],
        "filepath_field": null,
        "title_field": "title",
        "url_field": null,
        "vector_fields": ["text_vector"]
      },
      "top_n_documents": 20,
      "in_scope": true,
      "embedding_dependency": {
        "type": "deployment_name",
        "deployment_name": "${AZURE_OPENAI_EMBEDDING_NAME}"
      }
    }
  },
  {
    "type": "azure_search",
    "parameters": {
      "endpoint": "https://${AZURE_SEARCH_SERVICE}.search.windows.net",
      "authentication": {
        "type": "api_key",
        "key": "${AZURE_SEARCH_KEY}"
      },
      "index_name": "your-second-index",
      "semantic_configuration": "your-second-index-semantic-configuration",
      "query_type": "vector_semantic_hybrid",
      "fields_mapping": {
        "content_fields_separator": "\n",
        "content_fields": ["chunk"],
        "filepath_field": null,
        "title_field": "title",
        "url_field": null,
        "vector_fields": ["text_vector"]
      },
      "top_n_documents": 20,
      "in_scope": true,
      "embedding_dependency": {
        "type": "deployment_name",
        "deployment_name": "${AZURE_OPENAI_EMBEDDING_NAME}"
      }
    }
  }
]